*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

:root {
  --black-fosco: #1F1F1F;
  --white-100: white;
  --blue-blip: #1968F0;
  --blue-dark: #072F73;
  --black-classic: #141414;
}
